@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        @apply h-full;
    }
    body {
        @apply h-auto font-light py-10;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Nunito', sans-serif;
        background: linear-gradient(
            254.12deg, 
            #ffd6a8 0%, 
            #ffecd4 57.57%, 
            #ffd6a8 100%
        ) fixed;
        font-family: 'Poppins', sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply mb-5;
    }
}
