@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-full;
    }
    body {
        @apply h-auto font-light py-10;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Nunito', sans-serif;
        background: linear-gradient(
            254.12deg, 
            #ffe689 0%, 
            #ffcc33 57.57%, 
            #ffe689 100%
        ) fixed;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply mb-5;
    }
}